<!DOCTYPE html>
<html lang="en">
<head>
  <% include template/head.ejs %>
  <script type="text/javascript">
  function deleteFolder(obj)
  {
  	alert(obj);
  }
  </script>
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <p> <a class="navbar-brand" href="/">Todolist <sub>By Srinidhi</sub></a></p>
    </div>  

     <ul class="nav navbar-nav navbar-right">
      <li><a href="/signout" ><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
    </ul> 
  </div>
</nav>
  


<div class="container">
  <h3>OOPS... Somethind went wrong!!   <a href="/folders" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>Take me home</a></h3>
</div>

</body>
</html>
