<!DOCTYPE html>
<html lang="en">
<head>
  <% include template/head.ejs %>
  <script type="text/javascript">
  function deleteFolder(obj)
  {
  	alert(obj);
  }
  </script>
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <p> <a class="navbar-brand" href="/">Todolist <sub>By Srinidhi</sub></a></p>
    </div>  

     <ul class="nav navbar-nav navbar-right">
      <li><a href="/signout" ><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
    </ul> 
  </div>
</nav>
  


<div class="container">
  <h3>Folders  <button type="button" data-toggle="modal" data-target="#createFolderModal" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Create Folder</button></h3>

<div class="container">
<table class="table">
	<tr>
		<th>Open</th>
		<th>Delete</th>
		<th>Name</th>
		<th>Created On</th>
	</tr>
<% for(i=0;i< folders.length; i++) 
{%>
	<tr><td><a href="/folders/<%=folders[i].name%>"><span class="glyphicon glyphicon-folder-open"></span></a></td>
		<td ><a href="/folders/delete/<%=folders[i].name%>"><span class="glyphicon glyphicon-remove"></span></a></td>
		<td><p><%=folders[i].name%></p></td>
		<td><p><%=folders[i].created%></p></td>
	</tr>
<%} %>
</table></div>




  <!--Create Fodler Modal -->
  <div class="modal fade" id="createFolderModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Folder</h4>
        </div>
        <div class="modal-body">
          <form action="/folders" method="POST" role="form">
  <div class="form-group">
    <label for="name">Folder Name</label>
    <input type="text" class="form-control" id="name" name="folderName">
  </div>

  <button type="submit" class="btn btn-default">Create</button>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>

</body>
</html>